<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>APEX BlackJack DApp</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{css/bj.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<section id="cover">
    <div id="cover-caption">
        <div class="col-8 offset-2">
        <div id="container" class="container-fluid" style="border:3px solid #d9534f; border-radius: 10px">
            <div class="row text-white">
                <p> </p>
            </div>
            <div class="row text-white">
                <p> </p>
            </div>
            <div class="row text-white">
                <div class="col-8 offset-2 text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Blackjack.svg" class="img-responsive" style="max-height: 250px;">
                </div>
            </div>
            <div class="row text-white">
                <p> </p>
            </div>
            <div class="row text-white">
                <p> </p>
            </div>
            <div class="row text-white">
                <div class="col-8 offset-2 text-center">
                    <div class="info-form">
                        <form action="/login" class="form-inlin justify-content-center" method="post">
                            <div class="form-group">
                                <input type="text" style="text-align: center" id="privateKey" name="privateKey" class="form-control" placeholder="Private Key">
                            </div>
                            <button type="submit" class="btn btn-block btn-danger">Play</button>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row text-white">
                <p> </p>
            </div>
            <div class="row text-white">
                <p> </p>
            </div>
        </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

<style>
    html,
    body{
        height: 100%;
    }

    #cover {
        background: #222 center center no-repeat;
        background-size: cover;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }

    #cover-caption {
        width: 100%;
    }
</style>

</html>